# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore swap files
*.swp

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Ignore environment files
.env