DOCTYPE(html)
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Ferry Tempo Server
       
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css")
        style(media='screen', type='text/css').
            table {
                width: 100%;
                table-layout:fixed;
            }            
            table tr td {
                vertical-align:top;
            }
    body(class="container")
        header
            h1 Ferry Tempo Server v#{version} (#[a(href="https://github.com/FerryTempo/FTServer") github])
            h2 Debug Event Log
        p Each row represents an event where vessel data was fetched and processed into Ferry Tempo data. This table is sorted by date, newest first, and only shows events within the last hour.
        form(action="/export", method="get") 
            button(type="submit", href="/export") Download 
        table(class="striped")
            thead
                tr
                    th(width="15%") Update Datetime
                    th Vessel Data
                    th Ferry Tempo Data
            tbody(id="events")
                each event in events
                    tr
                        td 
                            p #{new Date(event.saveDate * 1000).toLocaleString('en-US', { timeZone: 'PST'})} 
                            p (#{event.saveDate})
                        td
                            details
                                summary Show data
                                pre 
                                    = JSON.stringify(JSON.parse(event.vesselData), null, 4)
                        td
                            details
                                summary Show data
                                pre 
                                    = JSON.stringify(JSON.parse(event.ferryTempoData), null, 4)