DOCTYPE(html)
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Ferry Tempo Server
       
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css")
        style(media='screen', type='text/css').
            table {
                width: 100vw;
                table-layout:fixed;
            }            
            table tr td {
                vertical-align:top;
            }
    body(class="container")
        header
            h1 Ferry Tempo Server v#{version} (#[a(href="https://github.com/FerryTempo/FTServer") github])
        h2 Debug page:
        ul
            li
                a(href="/debug" class="secondary") /debug
        h2 Routes:
        ul
            li 
                a(href="/api/v1/route/pt-cou" class="contrast") pt-cou data
                ul 
                    li
                        a(href="/progress?routeId=pt-cou&direction=WN&lat=48.159062&long=-122.672667" class="contrast") route & progress test
            li
                a(href="/api/v1/route/muk-cl" class="contrast") muk-cl data
                ul 
                    li
                        a(href="/progress?routeId=muk-cl&direction=WN&lat=47.950761&long=-122.297106" class="contrast") route & progress test
            li
                a(href="/api/v1/route/ed-king" class="contrast") ed-king data
                ul 
                    li
                        a(href="/progress?routeId=ed-king&direction=WN&lat=47.813343&long=-122.385422" class="contrast") route & progress test
            li
                a(href="/api/v1/route/sea-bi" class="contrast") sea-bi data
                ul 
                    li
                        a(href="/progress?routeId=sea-bi&direction=WN&lat=47.602824&long=-122.339544" class="contrast") route & progress test
            li
                a(href="/api/v1/route/sea-br" class="contrast") sea-br data
                ul 
                    li
                        a(href="/progress?routeId=sea-br&direction=WN&lat=47.602824&long=-122.339544" class="contrast") route & progress test